*, *:after, *::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: #f8f8f8;
  --font-color: #191614;
  --min-font-size: 15px;
  --primary: #35495E;
}

:root[theme="dark"] {
  --bg-color: #191614;
  --font-color: #f8f8f8;
}

::selection {
  background: var(--primary);
  color: #FFF;
}

body {
  font-family: 'Fira Sans', 'Roboto', 'Helvetica', sans-serif;
  color: var(--font-color);
  font-size: calc(var(--min-font-size) + .25vw);
  background: var(--bg-color);
  line-height: 2;
  transition: background .3s linear;
}

h1, h2, h3 {
  font-weight: 900;
  margin: .5em .2em;
  line-height: 1;
}

h1 {
  font-size: calc(1em + 4vw)
}

h2 {
  font-size: calc(1em + 3.5vw)
}

h3 {
  font-size: calc(1em + 3vw)
}

p {
  margin: .5em .2em;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.ml-0 {
  margin-left: 0;
}

.mr-0 {
  margin-right: 0;
}